.card {
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 500px;

  &__brand {
    font-weight: 400;
    font-size: 24px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
  }

  &__image {
    width: 100%;
    min-height: 200px;
    max-height: 368px;
  }

  &__badge {
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 13px 24px;
    position: absolute;
    top: 2%;
    right: 5%;
  }
}